---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <article class="post-content">
          {{ post.content }}
        </article>
      </li>
    {% endfor %}
  </ul>

  <div>

    <div style="width: 50%; float: left;">
      {% if paginator.next_page %}
        <p><a href="{{ paginator.next_page_path }}" class="next">&laquo; Older</a></p>
      {% endif %}
    </div>

    <div style="width: 50%; float: right;">
      {% if paginator.previous_page %}
        <p style="text-align: right;">
          <a href="{{ paginator.previous_page_path }}" class="previous">Newer &raquo;</a>
        </p>
      {% endif %}
    </div>

  </div>

  <div style="clear: both"></div>

  <p class="rss-subscribe">Subscribe <a href="http://feeds.feedburner.com/MyhroBlog">via RSS</a></p>

</div>
